/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
  .navigationSlider .slidingNav ul li a {
     color: #393939;
  }
  .navigationSlider .slidingNav ul li a:hover,
  .navigationSlider .slidingNav ul li.siteNavItemActive a,
  .navigationSlider .slidingNav ul li.siteNavGroupActive a {
    color: rgba(57, 57, 57, 0.8);
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}


html, body {
    color: #293333;
}


.text-blue { color: #293333!important; }
.text-gold { color: #927f54; }
.text-muted { color: #ababab; font-size: 89%; }
.text-centered { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-bold { font-weight: bold; }


.pt-1 { padding-top: 1em; }
.pt-2 { padding-top: 2em; }
.pt-3 { padding-top: 3em; }
.pt-4 { padding-top: 4em; }

.pb-1 { padding-bottom: 1em; }
.pb-2 { padding-bottom: 2em; }
.pb-3 { padding-bottom: 3em; }
.pb-4 { padding-bottom: 4em; }

a {
    text-decoration: underline;
    color: #927f54;
}
.button {
    color: #927f54;
}
.button:hover {
    color: white;
  background-color: #927f54;
}

input.form-input {
    border: solid #d6dadb;
    border-width: 1px;
    border-radius: 3px;
    color: #d6dadb;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2em;
    padding: 10px;
    margin-right: 1px;
}

.fixedHeaderContainer a {
    text-decoration:none;
    color:#293333;
}

div.container .section-intro {
    text-align: center;
    padding: 0 0 2em 0;
    font-size: 110%;
    font-weight: 100;
    margin-top: 0.1rem;
}

/* Providers Component */
div.providers .slogan {
    text-align: center;
}
div.providers .logo {
    padding: 2em 0;
}
div.providers .logo img {
    width: 300px;
}
div.container h1.section-header {
    text-align: center;
}
div.providers .contactBlock {
    padding-top: 1em;
}

div.homeSplashFade {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)), url(/img/bg.jpg) center center no-repeat;
}

.homeContainer {
    margin-bottom: -40px;
}
.homeContainer .homeWrapper {
    min-height:550px;
}

.projectTitle {
    color: #fff;
}

.promoSection {
    padding-top: 30px;
}
.promoSection a {
    font-weight: 600;
    color: #fff;
}